body {
    font-size: 20px;
    font-family: monospace, sans-serif, serif;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: normal;
    width: 80%;
    margin: 0 auto;
    background-color: aqua;
}

nav, article, aside, footer {
    border-top: 1px solid black;
}

.images {
    margin: 0 auto;
    display: block;
    max-width: 100%
}

.header {
    text-align: center;
}

nav {
    style
}

table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table {
    width: 100%;
}